<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport">
  <title>gOals</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://kit.fontawesome.com/2968acc346.js" crossorigin="anonymous"></script>
</head>

<body>

  <!--Navbar Section-->

  <nav class="navbar">
    <div class="navbar__container">
      <img class="navbar__logo" src="/static/images/logo.svg" alt="brand-logo">
      <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span> <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="#home" class="navbar__links" id="home-page">Home</a>
        </li>
        <li class="navbar__item">
          <a href="#about" class="navbar__links" id="about-page">About</a>
        </li>
        <li class="navbar__item">
          <a href="#services" class="navbar__links" id="services-page">Services</a>
        </li>
        <li class="navbar__btn">
          <a href="#sign-up" class="button" id="signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>

  <!--Hero Section-->

  <div class="hero" id="home">
    <div class="hero__container">
      <h1 class="hero__heading">Choose your <span>genre</span></h1>
      <p class="hero__description">Reach Your Music Goals</p>
      <button class="main__btn"><a href="#services">Explore</a></button>
    </div>
  </div>

  <!--About Section-->

  <div class="main" id="about">
    <div class="main__container">
      <div class="main__img--container">
        <div class="main__img--card">
          <img src="/static/images/card1.jpg" alt="">
        </div>
      </div>
      <div class="main__content">
        <h1>What do we do?</h1>
        <h2>We help you reach your music goals</h2>
        <p>Schedule a call and get in touch with us.</p>
        <button class="main__btn"><a href="">Schedule Call</a></button>
      </div>
    </div>
  </div>

  <!-- Services Section-->

  <div class="services" id="services">
    <h1>OUR SERVICES</h1>
    <div class="services__wrapper">
      <div class="services__card">
        <h2>Talent Scouting</h2>
        <p>See if you have what it takes!</p>
      </div>
      <div class="services__card">
        <h2>Recording studio</h2>
        <p>Create with us!</p>
      </div>
      <div class="services__card">
        <h2>Concerts</h2>
        <p>Preform with the best</p>
      </div>
      <div class="services__card">
        <h2>Full scale production</h2>
        <p>Make your dream album!</p>
      </div>
    </div>
  </div>

  <!--Feature Section-->

  <div class="main" id="sign-up">
    <div class="main__container">
      <div class="main__content">
        <h1>Join Our Team</h1>
        <h2>Sign up today</h2>
        <p>See what makes us different.</p>
        <button class="main__btn"><a href="">Schedule Call</a></button>
      </div>
      <div class="main__img--container">
        <div class="main__img--card" id="card-2">
          <img src="/static/images/card2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <!--Footer Section-->

  <div class="footer__container">
    <div class="footer__links">
      <div class="footer__link--wrapper">
        <div class="footer__link--items">
          <h2>About Us</h2>
          <a href="/sign__up">How it works</a> <a href="/">Testimonials</a>
          <a href="/">Careers</a> <a href="/">Terms of Service</a>
        </div>
        <div class="footer__link--items">
          <h2>Contact Us</h2>
          <a href="/">Contact</a> <a href="/">Support</a>
          <a href="/">Destinations</a>
        </div>
      </div>
      <div class="footer__link--wrapper">
        <div class="footer__link--items">
          <h2>Videos</h2>
          <a href="/">Submit Video</a> <a href="/">Ambassadors</a>
          <a href="/">Agency</a>
        </div>
        <div class="footer__link--items">
          <h2>Social Media</h2>
          <a href="/">Instagram</a> <a href="/">Facebook</a>
          <a href="/">Youtube</a> <a href="/">Twitter</a>
        </div>
      </div>
    </div>
    <section class="social__media">
      <div class="social__media--wrap">
        <div class="footer__logo">
          <img class="footer__logo" src="/static/images/logo.svg" alt="brand-logo">
        </div>
        <p class="website__rights">© NanaCodes 2022. All rights reserved</p>
        <div class="social__icons">
          <a href="/" class="social__icon--link" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="/" class="social__icon--link" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="/" class="social__icon--link" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="/" class="social__icon--link" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="/" class="social__icon--link" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </section>
  </div>

  <script src="/static/js/app.js"></script>
</body>

</html>